/*--------------------------------------------------------------------

        Dwi Purnomo official website
        Butternut Digital

        Based on: 
        Stimulus Template http://www.templatemo.com/tm-498-stimulus

----------------------------------------------------------------------*/

body {
	background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
	  font-weight: 300;
    overflow-x: hidden;
    font-size:2rem;

}

html,body {
  width: 100%;
  height: 100%;
}

.nopadding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}


/*---------------------------------------
    Typography              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 400;
}

h1,h2,h3 {
  font-weight: 300;
}

h1 {
  font-size: 4rem;
  padding-bottom: 14px;
  margin-bottom: 1rem;
  font-weight: 400;
   border-bottom: rgba(251, 252, 254, 0.35) solid 1px;
}


h2 {
  font-size: 2rem;
  line-height: 52px;
  margin-top: 0px;
}

h3 {
  font-size: 2rem;
  line-height: 32px;
  padding-bottom: 6px;
}

h4 {
  color: #999;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 6px;
}

h5 {
  color: #666666;
}

strong,b {
  font-weight: 400;
}

p {
    color: #999;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    letter-spacing: 0.2px;
    padding-bottom: 1rem;
}

li{
  padding-bottom: 1rem;
  padding-top: 1rem;
  /*border-bottom: 1px #000 solid;*/
  list-style: none;
}
.section-btn {
  background-color: transparent;
  border: 3px solid #232B2B;
  border-radius: 100px;
  color: #232B2B;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.6px;
  padding: 12px 36px;
  margin-top: 1rem;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.section-btn:hover {
  background: #E3AE57;
  border-color: transparent;
  color: #ffffff;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  /*height: 100vh;*/
}

.section-title {
  position: relative;
  padding-bottom: 22px;

}

#about,
#service,
#achievements,
#pendidikan,
#contact {
  position: relative;
}

#home .container,
#about .container, 
#achievements .container,
#service .container,
#pendidikan .container,
#contact .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#achievements .achievements-thumb,
#pendidikan .pendidikan-thumb  {
  padding: 22px 42px 42px 42px;
}

#service,
#quotes,
footer {
  text-align: center;
}

#achievements,
#pendidikan {
  background: #E9724C;
}




.color-white {
  color: #ffffff;
}

.color-dark{
  color: #161616;
}

.color-red{
  color:#c62c49;
}

.color-yellow {
  color: #E3AE57;
}

.bg-yellow {
  background: #E3AE57;
}

.bg-white {
  background: #ffffff;
}

.bg-dark {
  background: #161616;
}



/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #E3AE57;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #E3AE57;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.background-image {
    background-position: 30% 0% !important;
    background-size: cover !important;
    width: 100%;
    height: 30vh;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media (min-width: 480px) {
    .background-image {
    position: relative;
    min-height: 100vh;
    height:120vh;

  }
  
}

/*#pendidikan,#experiences,#achievements,#about,#quotes,#contact,footer{
  margin-left: -30px;
  margin-right: -30px;

}*/


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}
.pre

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
  /*padding-top: 1rem;*/
}


.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  /*padding-left: 1rem;*/
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #E3AE57;
  border-top-color: #f9f9f9;
  animation: spinner .6s linear infinite;
}

@-webkit-@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}



/*---------------------------------------
    Navigation section              
-----------------------------------------*/

.custom-navbar {
    margin-bottom: 0;
    background-color: #ffffff;
}

.custom-navbar .navbar-brand {
  color: #333;
  text-shadow: 1px 1px #fff;
  font-weight: bold;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 1px;
}

.custom-navbar .nav li a {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    /*line-height: 40px;*/
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #E3AE57;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #c62c49;
    text-shadow: #fff 1px 0 10px;   
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #E3AE57;
    border-color: transparent;
}




  .custom-navbar.top-nav-collapse{
  /*display: none;*/
  /*margin-top: -1rem;*/
  visibility: hidden;
  }  
  

@media(min-width:768px) {
    .custom-navbar {
        padding: 12px 0;
        border-bottom: 0;
        background: 0 0; 
            background: #f4f4f4;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    padding: 0;
    border-bottom: 0.2rem solid #574747;
    }
    .custom-navbar.top-nav-collapse {
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        padding: 1rem;
        background: #f4f4f4;
        visibility: visible;
        /*background: #000;*/
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        /*padding: 0;*/
    border-bottom: 0.2rem solid #574747;
    }

}



/*---------------------------------------
    Home section              
-----------------------------------------*/

#home h1 {
  padding-bottom: 18px;
  font-weight:300 !important;
}

/*#home{
  margin-left: -30px;
  margin-right: -30px;
}
*/
#home .col-md-6 {
  background: #fe6c67;
/* light blue color: #c3eafd; */
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 480px) {
  #home .home-img {
  background: url('../images/dwiPurnomoCover.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100vh;
}
  
}
@media (max-width: 480px) {
  #home .home-img{
  background: url(../images/dwiPurnomoCover.jpg) no-repeat;
  background-size: cover;
  background-position: 50% -24%;
  width: 100%;
  height: 50vh;
  }
    
}

#home .home-thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  padding: 8rem 45px 0 45px;
}
#home p{
  color: #f9eedc;
}



/*---------------------------------------
   About section              
-----------------------------------------*/

#about{
  background: url('../images/small_steps3.png');
  background-size: fixed !important;
  background-attachment: initial !important;
  height:auto;
  padding-top: 3rem;
  padding-bottom: 3rem;



}

@media (min-width: 768px) {
  #about{
  padding-top: 10rem;
  padding-bottom: 10rem;
  height:100vh;

  }
}



#about .about-thumb {
      
    padding: 21px 32px 32px 32px;
    background: rgb(244, 244, 244)

}

/*@media screen (max-width: 480px) {
  #about .about-thumb{
    margin-top: 4rem;
  }
  
}*/

#about .progress {
  background: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  height: 2px;
}

#about .progress-bar-primary {
  background: #232B2B;
}

#about strong,
#about span {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 8px;
}

/*---------------------------------------
    pendidikan section              
-----------------------------------------*/

#pendidikan {
  background: #E3AE57;
}
#pendidikan .pendidikan-img {
  background: url('../images/dwiPurnomoPendidikan.jpg') no-repeat;
   position: absolute; 
   background-position: 30% 41% !important;
    background-size: cover !important;
    width: 100%;
    min-height: 50vh;
}
  
@media screen and (min-width:768px) {
  #pendidikan .pendidikan-img{
  background: url('../images/dwiPurnomoPendidikan.jpg') no-repeat;
   position: relative; 
   background-position: 70% 10% !important;
    background-size: cover !important;
    /*width: 100%;*/
    height: 800px;
    min-height: 100vh;
  }
    
}

@media (min-width: 768px) {
  #pendidikan{
    height:auto !important;

  }
  
}


#pendidikan .media-heading {
  margin-bottom: 0px;
}

#pendidikan .media .fa {
  font-size: 42px;
  margin-right: 14px;
}

#pendidikan small {
  color: #886D1E;
  font-weight: bold;
}

@media (max-width: 480px) {
  #pendidikan .pendidikan-thumb{

  padding: 50vh 45px 2rem 45px;
  }
}





/*---------------------------------------
   experiences section              
-----------------------------------------*/

#experiences{
  background: url(../images/dwiPurnomoExperiences.jpg);
    background-position: center;
    color: #f4f4f4;
    padding: 2rem;

}



@media (min-width: 768px) {
  #experiences{
  padding-top: 5rem;
  padding-bottom: 5rem;
  }
}


#experiences .experiences-thumb li{
  background: rgba(0, 0, 0, 0.63);
    margin-bottom: 2rem;
    padding: 3rem;
    margin-left: -4rem;
}





/*---------------------------------------
    achievements section              
-----------------------------------------*/


#achievements .achievements-img {
  background: url('../images/dwiPurnomoachievements.jpg') no-repeat;
   position: absolute; 
   background-position: 30% 60% !important;
    background-size: cover !important;
    width: 100%;
    height: 30vh;
    min-height: 50vh;
}
  
@media screen and (min-width:768px) {
  #achievements .achievements-img{
  background: url('../images/dwiPurnomoachievements.jpg') no-repeat;
   position: absolute; 
   background-position: 30% 60% !important;
    background-size: cover !important;
    /*width: 100%;*/
    height: 100vh;
    min-height: 50vh;
  }
    
}

#achievements .media-heading {
  margin-bottom: 0px;
}

#achievements .media .fa {
  font-size: 42px;
  margin-right: 14px;
}

#achievements small {
  color: #633;
  font-weight: bold;
}

@media (max-width: 480px) {
  #achievements .achievements-thumb{

  padding: 50vh 45px 2rem 45px;
  }
}




/*---------------------------------------
   Quotes section              
-----------------------------------------*/

#quotes {
    background: #f4f4f4;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    position: relative;
    padding: 100px 0px;
}

#quotes .overlay {
    background: #121212;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
}

#quotes .fa {
  font-size: 42px;
  margin-top: 32px;
  margin-bottom: 22px;
}

#quotes p {
  padding-top: 32px;
}


/*---------------------------------------
    Contact section              
-----------------------------------------*/

#contact {
  background: #161616;
}

#contact .contact-form,
#contact .contact-thumb {
  padding: 22px 32px 22px 32px;
  min-height: 100vh;
}

#contact .contact-img {
  background: url('../images/contact-img.jpg') no-repeat;
  min-height: 100vh;
}

#contact .contact-info {
  padding-top: 6px;
  padding-bottom: 6px;
}

#contact .form-control::-moz-placeholder{color:#ffffff;opacity:1}
#contact .form-control:-ms-input-placeholder{color:#ffffff}
#contact .form-control::-webkit-input-placeholder{color:#ffffff}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #E3AE57;
  border-radius: 0px;
  box-shadow: none;
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 25px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-bottom-color: #ffffff;
}

#contact input {
  height: 45px;
}

#contact input[type="submit"] {
  background: #ffffff;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #161616;
  padding-bottom: 10px;
}

#contact input[type="submit"]:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

#contact .fa {
  padding-right: 10px;
}



/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    padding: 20px 0px;
    background: #f4f4f4
}



/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border: 2px solid transparent;
    color: #999;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 4px 10px 4px;
}

.social-icon li a:hover {
    background: #E3AE57;
    border-color: #ffffff;
    color: #ffffff;
    transform: scale(1.1);
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media only screen and (max-width: 580px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
    line-height: inherit;
  }

  h3 {
    font-size: 2rem;
    line-height: inherit;
  }
  h4{
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 767px) {
  .custom-navbar .navbar-brand {
    line-height: 18px;
  }

  #home .home-thumb {
    height: auto;
    padding-top: 32px;
    padding-bottom: 12px;
  }

  #home .container,
  #about .container, 
  #achievements .container,
  #service .container,
  #pendidikan .container,
  #contact .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  #about .col-md-3,
  #achievements .col-md-6,
  #pendidikan .col-md-6,
  #contact .col-md-3 {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .section-title {
    padding-bottom: 12px;
  }

  footer {
    padding: 40px 0;
  }
}
}
}